.information::before {
	content: "";
	position: absolute;
	height: 550px;
	width: 80px;
	background: #fff;
	left: -150px;
	top: -80px;
	transform: rotate(37deg);
	transition: all 0.5s;
	opacity: 0.3;
}

.information:hover::before {
	left: 100%;
}
