.border-animation {
	position: relative;
	/* background-color: black; */
	/* margin: 200px auto; */
	border-radius: 0.5rem;
	color: wheat;
	width: 100%;
}

/* Esta funcion permite realizar que se gire los colores del background e inician en cero grados */
@property --angulo {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

.border-animation::after,
.border-animation::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	padding: 4px;
	background: conic-gradient(
		from var(--angulo),
		white,
		white,
		black,
		black,
		black,
		black,
		black,
		black,
		black
	);
	border-radius: 0.75rem;
	animation: girar 3s linear infinite;
	z-index: -1;
}

.border-animation::before {
	filter: blur(24px);
	opacity: 0.5;
}

@keyframes girar {
	0% {
		--angulo: 0deg;
	}
	100% {
		--angulo: 360deg;
	}
}
